{% extends 'market/base.html' %}
{% block body %}
	<div class="login">
		<h2>Who Are You?</h2> 
        <hr style="background-color:rgb(232,232,232);border: 0;height: 3px">
        <div>
		  	<a href="{% url 'market:loginShop' %}" class="btn btn-student btn-lg" role="button">Log In Shop</a>
        </div>
        <div>
            <a href="{% url 'market:signupShop' %}" class="btn btn-student btn-lg" role="button">Sign Up Shop</a>
        </div>
        <div>
             <a href="{% url 'social:begin' 'google-oauth2' %}">Login Customer</a><br>
        </div>
            {% if error_message != None %}
                <p class=" label label-danger">
                    {{error_message}}
                </p>
			{% endif %}


	</div>
	
{% endblock %}