{% extends 'market/base.html' %}
{% block body %}
  		
  		<div class="content">
  			<img class="avatar" src="Images/s1.jpg" alt="dp">
  			<h1>&nbsp&nbsp Rahals Kade </h1>
  			<hr style="background-color:rgb(232,232,232);border: 0;height: 3px">
  			<img class="post" src="Images/s1a1.jpg" alt="dp">
  		</div>

  		<div class="content">
  			<hr style="background-color:rgb(232,232,232);border: 0;height: 3px">
  		</div>

  		<div class="content">
  			<hr style="background-color:rgb(232,232,232);border: 0;height: 3px">
  		</div>

  		<div class="content">
  			<hr style="background-color:rgb(232,232,232);border: 0;height: 3px">
  		</div>

  		<div class="content">
  			<hr style="background-color:rgb(232,232,232);border: 0;height: 3px">
  		</div>

  		<div class="content">
  			<hr style="background-color:rgb(232,232,232);border: 0;height: 3px">
  		</div>

  		<div class="content">
  			<hr style="background-color:rgb(232,232,232);border: 0;height: 3px">
  		</div>

  		<div class="content">
  			<hr style="background-color:rgb(232,232,232);border: 0;height: 3px">
  		</div>
{% endblock %}