{% extends 'market/base.html' %}
{% block body %}

<div class="login">
        <h2>Shop Sign Up</h2>
        <hr style="background-color:rgb(232,232,232);border: 0;height: 3px">
        <form  method="post" enctype="multipart/form-data">
			{% csrf_token %}
          <input type="text" placeholder="User name" name="username"><br>
          <input type="password" placeholder="Password" name="password"><br>
          {% include 'market/form_template.html' %}
			{% if error_message != None %}
			<p class=" label label-danger">
				{{error_message}}
			</p>
			{% endif %}
          <input type="submit" value="Login">
        </form>

  		</div>
	
{% endblock %}

{% block javascript %}
  <script>
    $("#id_shop_category").change(function () {
      console.log( $(this).val() );
    });
  </script>
{% endblock %}